.header {
  background: $primary;
  padding: $s-size;
  height: $xl-size;
  display: flex;
  align-items: center;
}

.header__title {
  color: $off-white;
  text-decoration: none;

  h1 {
    margin: 0;
  }
}